
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Welcome to My Page!</h2>
              <br/>
                <p>Hello, my name is Brandon Smith and this is my website.
                  Originally from Boulder, Colorado, I decided to attend school out in Silicon Valley and pursue my love of programming.
                  I am a recent graduate of Santa Clara University with a Bachelor's degree in Computer Science & Engineering.
                  I am skilled in Python, Java, and C++, with experience in JavaScript, Objective-C, C, HTML/CSS.
                  I am a passionate and hard worker, and can't wait to jump into new and challenging projects.</p>
                <br/>
              </div>
        </div>
    </section>
